#pragma code_page(65001)
1 /* CREATEPROCESS_MANIFEST_RESOURCE_ID */ 24 /* RT_MANIFEST */ "C:/Users/ojrose8935/OneDrive - Florida Gulf Coast University/Clion/Clion Projects/cmake-build-debug/CMakeFiles/Clion_Projects.dir/embed.manifest"